{% extends "layout.html" %}


{% block main %}
<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    Successfuly bought at {{ precio | usd }}!
    Total {{ precio2 | usd }}
  </div>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
        <th scope="col">Shares</th>
        <th scope="col">Total</th>
        <th scope="col">New Balance:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ datos[0] }}</th>
        <td>{{ datos[4] }}</td>
        <td>{{ datos[1] }}</td>
        <td>{{ datos[2] }}</td>
        <td>{{ datos[3] }}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}